@model SchoolManagementSystem.Models.Enrollment

@{
    ViewBag.Title = "Create";
}

<script>
    $(function () {
        $("#Participant_FirstName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Enrollments/GetParticipants",
                    dataType: "json",
                    type: "POST",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        console.log(data);
                        $("#Participant_FirstName").val("");
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Name, id: item.Id };
                        }))
                    }
                });
            },
            minLength: 2,
            select: function (event, query) {
                console.log(query);
                $("#ParticipantId").val(query.item.id);
            }
        });
    });

    function Added(res) {
        if (res.IsSuccess) {
            $(function () {
                $("#failed").fadeOut('fast');
                $("#success").fadeIn('fast');
            })
        }
        else {
            Failed(res);
        }
    }

    function Failed(res) {     
            $(function () {
                $("#failed").fadeIn('fast');
                $("#failed").fadeOut('fast');
            })       
    }
</script>

  

<h2>Create</h2>


@using (Ajax.BeginForm("AddStudent", "Enrollments", new AjaxOptions
{
    HttpMethod="POST",
    OnSuccess="Added",
    OnFailure="Failure"
}))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Enrollment</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div id="failed" class="alert alert-danger" style="display: none;">
        There was an error adding the Student to this course.
    </div>
    <div id="success" class="alert alert-success" style="display: none;">
        Student added successfully
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Course.CourseId, "CourseId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("CourseId", null, htmlAttributes: new { @class = "form-control" })          
            @Html.ValidationMessageFor(model => model.CourseId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ParticipantId, "ParticipantId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Participant.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.HiddenFor(model => model.ParticipantId)
            @Html.ValidationMessageFor(model => model.ParticipantId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Enroll Student" class="btn btn-success btn-block" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
